<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<real>2.21</real>
	<key>Baymax</key>
	<dict>
		<key>picPath</key>
		<string>Baymax.scnassets/Baymax.png</string>
		<key>picture</key>
		<string>Baymax</string>
		<key>version</key>
		<integer>1</integer>
		<key>filePath</key>
		<string>Baymax.scnassets/Baymax.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>100</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>0</integer>
		<key>angleY</key>
		<integer>80</integer>
	</dict>
	<key>Baymax2</key>
	<dict>
		<key>picPath</key>
		<string>Baymax2.scnassets/Baymax2.png</string>
		<key>picture</key>
		<string>Baymax2</string>
		<key>version</key>
		<integer>0</integer>
		<key>filePath</key>
		<string>Baymax2.scnassets/Baymax2.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>100</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>0</integer>
		<key>angleY</key>
		<integer>80</integer>
	</dict>
	<key>Histoire</key>
	<dict>
		<key>picPath</key>
		<string>Histoire.png</string>
		<key>picture</key>
		<string>Histoire</string>
		<key>version</key>
		<string>1</string>
		<key>filePath</key>
		<string>Histoire.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>2</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>180</integer>
		<key>angleY</key>
		<integer>-90</integer>
	</dict>
	<key>Lnuyasha</key>
	<dict>
		<key>picPath</key>
		<string>Lnuyasha.scnassets/Lnuyasha.png</string>
		<key>picture</key>
		<string>Lnuyasha</string>
		<key>version</key>
		<integer>1</integer>
		<key>filePath</key>
		<string>Lnuyasha.scnassets/Lnuyasha.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>100</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>0</integer>
		<key>angleY</key>
		<integer>80</integer>
	</dict>
	<key>Miku</key>
	<dict>
		<key>picPath</key>
		<string>Miku.scnassets/Miku.png</string>
		<key>picture</key>
		<string>Miku</string>
		<key>version</key>
		<integer>1</integer>
		<key>filePath</key>
		<string>Miku.scnassets/Miku.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>20</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>0</integer>
		<key>angleY</key>
		<integer>80</integer>
	</dict>
	<key>Mario</key>
	<dict>
		<key>picPath</key>
		<string>Mario.scnassets/Mario.png</string>
		<key>picture</key>
		<string>Mario</string>
		<key>version</key>
		<integer>3</integer>
		<key>filePath</key>
		<string>Mario.scnassets/Mario.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>5</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>0</integer>
		<key>angleY</key>
		<integer>-80</integer>
	</dict>
	<key>SpongeBob</key>
	<dict>
		<key>picPath</key>
		<string>SpongeBob.scnassets/SpongeBob.png</string>
		<key>picture</key>
		<string>SpongeBob</string>
		<key>version</key>
		<integer>1</integer>
		<key>filePath</key>
		<string>SpongeBob.scnassets/SpongeBob.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>100</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>0</integer>
		<key>angleY</key>
		<integer>80</integer>
	</dict>
	<key>Serena</key>
	<dict>
		<key>picPath</key>
		<string>Serena.scnassets/Serena.png</string>
		<key>picture</key>
		<string>Serena</string>
		<key>version</key>
		<integer>1</integer>
		<key>filePath</key>
		<string>Serena.scnassets/Serena.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>1</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>0</integer>
		<key>angleY</key>
		<integer>80</integer>
	</dict>
	<key>Wally</key>
	<dict>
		<key>picPath</key>
		<string>Wally.scnassets/Wally.png</string>
		<key>picture</key>
		<string>Wally</string>
		<key>version</key>
		<integer>1</integer>
		<key>filePath</key>
		<string>Wally.scnassets/Wally.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>1</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>0</integer>
		<key>angleY</key>
		<integer>80</integer>
	</dict>
	<key>Naruto</key>
	<dict>
		<key>picPath</key>
		<string>Naruto.scnassets/Naruto.png</string>
		<key>picture</key>
		<string>Naruto</string>
		<key>version</key>
		<integer>1</integer>
		<key>filePath</key>
		<string>Naruto.scnassets/Naruto.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>80</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>-90</integer>
		<key>angleY</key>
		<integer>90</integer>
	</dict>
	<key>Hinata</key>
	<dict>
		<key>picPath</key>
		<string>Hinata.scnassets/Hinata.png</string>
		<key>picture</key>
		<string>Hinata</string>
		<key>version</key>
		<integer>1</integer>
		<key>filePath</key>
		<string>Hinata.scnassets/Hinata.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>80</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>-90</integer>
		<key>angleY</key>
		<integer>90</integer>
	</dict>
	<key>AppleWatch</key>
	<dict>
		<key>picPath</key>
		<string>AppleWatch.scnassets/AppleWatch.png</string>
		<key>picture</key>
		<string>AppleWatch</string>
		<key>version</key>
		<integer>1</integer>
		<key>filePath</key>
		<string>AppleWatch.scnassets/AppleWatch.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>10</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>-90</integer>
		<key>angleY</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
