<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>superman</key>
	<dict>
		<key>filePath</key>
		<string>superman.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>30</integer>
		<key>rootNode</key>
		<string>Armature</string>
		<key>angleX</key>
		<integer>0</integer>
		<key>angleY</key>
		<integer>0</integer>
	</dict>
	<key>Histoire</key>
	<dict>
		<key>filePath</key>
		<string>Histoire.dae</string>
		<key>fixedPosition</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>scale</key>
		<integer>3</integer>
		<key>rootNode</key>
		<string>root</string>
		<key>angleX</key>
		<integer>135</integer>
		<key>angleY</key>
		<integer>-90</integer>
	</dict>
</dict>
</plist>
